# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Node
**/node_modules/
**/dist/
**/build/
**/.next/
**/.turbo/
**/.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Coverage
coverage/

# Misc
*.local
